<div>
  @if (order(); as order) {
    <!-- Subtotal -->
    <div class="pt-4 mb-4">
      <div class="flex justify-between mb-2">
        <span class="text-gray-600">Subtotal</span>
        <span>{{ order?.cart?.total | price }}</span>
      </div>

      <!-- Shipping -->
      @for (shipping of nonRemovedShippings(); track shipping.id) {
        <div class="flex justify-between mb-2">
          <span class="text-gray-600">{{ shipping.name }}</span>
          <span>{{ shipping.total | price }}</span>
        </div>
      }

      <!-- Discounts -->
      @if (order?.cart?.discounts?.length) {
        <div class="mb-2">
          @for (discount of order.cart?.discounts; track discount.code) {
            <div class="flex justify-between text-green-600">
              <span>Discount</span>
              <span>-{{ discount.value | price }}</span>
            </div>
          }
        </div>
      }
    </div>

    <!-- Total -->
    <div class="flex flex-col border-t border-gray-900 pt-4">
      <div class="flex justify-between items-center">
        <span class="text-lg font-semibold">Total</span>
        <span
          class="text-lg font-semibold"
          [class.opacity-80]="paidForWithVouchers() > 0"
        >
          {{ order.total | price }}
        </span>
      </div>
      <div class="text-gray-500 text-sm self-end">
        Including VAT
      </div>

      @if (paidForWithVouchers() > 0) {
        <div
          class="self-end mt-2"
          pTooltip="Paid for with vouchers"
          tooltipPosition="bottom"
          aria-label="Paid for with vouchers">
          {{ -paidForWithVouchers() | price }}
        </div>

        <div class="flex justify-between items-center mt-1">
          <span class="text-lg font-semibold">Remaining</span>
          <span
            class="text-lg font-semibold"
          >
          {{ paidForWithPayment() | price }}
        </span>
        </div>
      }
    </div>
  }
</div>
