<div class="grid gap-4">
  <p-card>
    <app-cart></app-cart>
  </p-card>

  <p-card>
    <div class="grid sm:grid-cols-2 gap-2">
      <p-button
        label="Add a discount code"
        outlined
        icon="iconify hugeicons--discount"
        fluid
      />
      <app-voucher-dialog></app-voucher-dialog>
    </div>
  </p-card>

  <app-shipping-selector class="contents"></app-shipping-selector>
  @if (shippingAdapterId(); as shippingAdapterId) {
    <p-card>
      <app-shipping-factory
        [adapterId]="shippingAdapterId"
      ></app-shipping-factory>
    </p-card>
  }

  <app-payment-selector class="contents"></app-payment-selector>
  @if (paymentAdapterId(); as paymentAdapterId) {
    <p-card>
      <app-payment-factory [adapterId]="paymentAdapterId"></app-payment-factory>
    </p-card>
  }
</div>
