<div class="grid gap-4">
  <p-card>
    <app-cart></app-cart>
  </p-card>

  <p-card>
    <div class="grid sm:grid-cols-2 gap-2">
      <p-button
        label="Add a discount code"
        outlined
        icon="iconify hugeicons--discount"
        fluid
      />
      <app-voucher-dialog></app-voucher-dialog>
    </div>
  </p-card>

  <app-shipping-selector></app-shipping-selector>
  @if (shippingAdapterId(); as shippingAdapterId) {
    <app-shipping-factory [adapterId]="shippingAdapterId"></app-shipping-factory>
  }

  <app-payment-selector></app-payment-selector>
  @if (paymentAdapterId(); as paymentAdapterId) {
    <app-payment-factory [adapterId]="paymentAdapterId"></app-payment-factory>
  }

</div>
